{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-connection-string>",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "SQL_SERVER": "<server>.database.windows.net",
    "SQL_DB": "EVPopulationDB",
    "SQL_READONLY_USER": "ev_readonly",
    "SQL_READONLY_PWD": "<password>",
    "SQL_ADMIN_USER": "<admin>",
    "SQL_ADMIN_PWD": "<admin-password>"
  }
}
